.footer {
  display: flex;
  max-width: 880px;
  justify-content: flex-start;
  margin: auto;
  flex-wrap: wrap;
}

.footer__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 318px;
  height: 18px;
}
